.top-menu{
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.template-content{
    margin-left: 20%;
    margin-right: 20%;
}