/* Navbar */
@font-face{
  font-family: 'THSarabun';
  src: url('/THSarabun.ttf') format('truetype'); 
}
body, html{
  font-family: 'THSarabun';
  font-size: 18pt !important;
}
.nav-color{
  background-color: #2A9EBF;
}
.nav-menu-color{
  color:#FFFFFF !important;
  border-bottom: 4px solid #FFF;
}
.navbar-brand{
  color:#FFFFFF !important;
}
.user-color{
  color:#FFFFFF !important;
}
.toggle-nav-menu{
  color: #FFF !important;
  font-weight: bold;
  border-bottom: 4px solid #FFF !important;
}
.nav-text{
  color: #FFF !important;
}
a.nav-text:hover{
  font-weight: bold;
}

/* All Page */
.horizon-center{
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}
.red-button{
  background-color: #F72825;
  color: #FFF;
}
.blue-button{
  background-color: #2A9EBF;
  color: #FFF;
}
.green-button{
  background-color: #2FBF42;
  color: #FFF;
}


/* Home Page */
.toggle-nav.active{
  color: #2A9EBF !important;
  font-weight: bold;
  border-bottom: 4px solid #2A9EBF !important;
}
.toggle-nav{
  color: #000 !important;
}
.step-btn{
  background-color: #2A9EBF;
  color:#FFF;
  font-size: 18pt;
}
.card-cat{
  overflow-y: scroll;
  height: 530px;
  width: 100%;
}
.dropdown-btn{
  float: right;
}








/* Menu */

.profilePic{
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    display: block;
}
.center{
    text-align: center;
}
.content{
    margin-top: 2%;
}
.cardDetail{
    align-items: center;
}   
.currentStep{
    text-align: right;
}
.menuTemplate{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tempImg{
    border-radius: .25rem;
}
.img-text{

}
.topic{
  font-size: 25pt;
  font-weight: bold;
}

/* ListFlow */

.card_detail{
    overflow-y: scroll;
    height: 300px;
    width: 100%;

}
.card-header{
    background-color: #2A9EBF;
    text-align: center;
    color: white;
    font-size: 20pt;
}
.button-position{
    float: right;
}
.user-pic{
    width: 5%;
}
.content{
    margin-bottom: 2%;
    margin-top: 2%;
}
.btn{
    margin-bottom: 2%;
}
.icon-lock{
  width: 6%;
  margin-right: 2%;
}


/* AddFlow */

.top-menu{
    font-size: 1.75rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.template-content{
    margin-left: 20%;
    margin-right: 20%;
}
.add-btn{
  background-color: #2FBF42;
  color:#FFF;
  font-size: 18pt;
}
.btn{
  font-size: 18pt;
}
.err-text{
  font-size: 16pt;
  color: #F72825;
  font-weight: bold;
  margin-bottom: 10px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
h1 {
  text-align: center;
}
.small-meta {
  font-size: 12px;
}
.dim {
  opacity: 0.4;
}
.image {
  width: 180px;
  height: 120px;
  background: #CCC;
  margin-left: auto;
  margin-right: auto;
}
.grid-wrapper {
  margin: 0 auto;
  width: 80%;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.card-content {
  border: 1px solid #CCC;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.card-content * {
  cursor: pointer;
}
.card-wrapper {
  position: relative;
  width: 235px;
  height: 270px;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
}
.c-card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.c-card ~ .card-content {
  transition: all 500ms ease-out;
}
.c-card ~ .card-content .card-state-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  transition: all 100ms ease-out;
}
.c-card ~ .card-content:before {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 0;
  height: 0;
  border-top: 52px solid #47cf73;
  border-left: 52px solid transparent;
  transition: all 200ms ease-out;
}
.c-card ~ .card-content:after {
  position: absolute;
  top: 1px;
  right: 16px;
  content: "";
  width: 0;
  height: 0;
  border-top: 50px solid #FFF;
  border-left: 50px solid transparent;
  transition: all 200ms ease-out;
}
.c-card ~ .card-content:hover {
  border: 1px solid #6dc5dc;
}
.c-card ~ .card-content:hover .card-state-icon {
  background-position: -30px 0;
}
.c-card ~ .card-content:hover:before {
  border-top: 52px solid #47cf73;
}
.c-card:checked ~ .card-content {
  border: 1px solid #6dc5dc;
}
.c-card:checked ~ .card-content .card-state-icon {
  background-position: -90px 2px;
}
.c-card:checked ~ .card-content:before {
  border-top: 52px solid #47cf73;
      background: url("https://www.shareicon.net/download/2016/08/20/817721_check.svg") no-repeat;
}
.c-card:checked ~ .card-content:after {
  border-top: 52px solid #47cf73;
  
}
.c-card:checked:hover ~ .card-content .card-state-icon {
  background-position: -60px 2px;
}
.c-card:checked:hover ~ .card-content:before {
  border-top: 52px solid #47cf73;
}
.c-card:checked:hover ~ .card-content:after {
  border-top: 52px solid #47cf73;
}

/* Validate */

.verifyText{
  font-size: 10pt;
  color: red;
}

/* Data Process */

.block-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Process Detail */
.bg-comment{
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 2%;
}
.usr-comment{
  font-weight: bold;
  color: #2A9EBF;
}
.alert-title{
  font-weight: bold;
}
.topic-cacel{
  color: #F72825;
  font-size: 25pt;
  font-weight: bold;
}
.topic-nomal{
  font-weight: bold;
}

/* Flow Detail */
.font-nomal{
  font-size: 18pt;
}


/* Edit Flow */
.img-font{
  font-size: 20pt;
}